/* VERSION PC */
@media screen and (min-width: 1440px) {
  .headerPhone {
    display: none;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .headerPhone {
    display: none;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .headerPhone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .headerPhone img {
    width: 20rem;
  }

  .headerPhone input {
    width: 70vw;
    height: 20px;
    padding: 5px;
    background-color: white;
    border: 4px solid #ffb20c;
  }

  .headerPhone button {
    width: 50vw;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: #ffb20c;
    font-size: 20px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .headerPhone button:active {
    background-color: #ffb20c;
    color: black;
  }
}

/* VERSION PHONE */
@media screen and (max-width: 767px) {
  .headerPhone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .headerPhone img {
    width: 10rem;
  }

  .headerPhone input {
    width: 70vw;
    height: 30px;
    padding: 5px;
    background-color: white;
    border: 4px solid #ffb20c;
  }

  .headerPhone button {
    width: 50vw;
    height: 40px;
    padding: 5px;
    background-color: black;
    color: #ffb20c;
    font-size: 15px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .headerPhone button:active {
    background-color: #ffb20c;
    color: black;
  }
}
