/* VERSION PC */
@media screen and (min-width: 1440px) {
.horizontalScroll {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 10px;
}

.scrollButton {
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20%;
    color: #ffb20c;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease;
}

.scrollButton:hover {
    background-color: #ffb20c;
    color: black;
    transform: translateY(-50%) scale(1.1);
    border: 4px solid black;
}

.scrollButton.left {
    left: 10px;
    font-size: 50px;
}

.scrollButton.right {
    right: 10px;
    font-size: 50px;
}
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
.horizontalScroll {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 10px;
}

.scrollButton {
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20%;
    color: #ffb20c;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease;
}

.scrollButton:hover {
    background-color: #ffb20c;
    color: black;
    transform: translateY(-50%) scale(1.1);
    border: 4px solid black;
}

.scrollButton.left {
    left: 10px;
    font-size: 50px;
}

.scrollButton.right {
    right: 10px;
    font-size: 50px;
}
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
.horizontalScroll {
    display: block;
    flex-direction: row !important;
    width: 100%;
    height: auto !important;
    position: relative !important;
}

.scrollContainer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: flex-start !important;
    width: 100% !important;
    height: auto !important;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 10px;
}

.scrollButton {
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20%;
    color: #ffb20c;
    padding: 5px;
    z-index: 1;
    transition: 0.5s ease;
}

.scrollButton:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
}

.scrollButton.left {
    left: 10px;
    font-size: 50px;
}

.scrollButton.right {
    right: 10px;
    font-size: 50px;
}

}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
.horizontalScroll {
    display: block;
    flex-direction: row !important;
    width: 100%;
    height: auto !important;
    position: relative !important;
}

.scrollContainer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: flex-start !important;
    width: 100% !important;
    height: auto !important;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 10px;
}

.scrollButton {
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20%;
    color: #ffb20c;
    padding: 5px;
    z-index: 1;
    transition: 0.5s ease;
}

.scrollButton:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
}

.scrollButton.left {
    left: 10px;
    font-size: 50px;
}

.scrollButton.right {
    right: 10px;
    font-size: 50px;
}
}