/* VERSION PC */
@media screen and (min-width: 1440px) {
  .userInteractionsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .Toastify {
    position: absolute;
  }

  .userInteractionsButtons button {
    width: 55px;
    height: 40px;
    font-size: 23px;
    background-color: black;
    color: #ffb20c;
    border: 3px solid #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .userInteractionsButtons button:hover {
    background-color: #ffb20c;
    color: black;
    border: 3px solid black;
  }

  .userInteractionsButtons button.active {
    background-color: #ffb20c;
    color: red;
    border: 3px solid purple;
  }

  .noUserInteractionsButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .noUserOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .noUserInteractionsButtons button {
    width: 55px;
    height: 40px;
    font-size: 23px;
    background-color: grey;
    color: darkgrey;
    border: 3px solid darkgrey;
    cursor: not-allowed;
  }

  .noUserInteractionsButtons p {
    text-align: center;
    position: absolute;
    width: 90%;
    height: auto;
    padding: 5px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 3px solid #ffb20c;
    z-index: 2;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .userInteractionsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .Toastify {
    position: absolute;
  }

  .userInteractionsButtons button {
    width: 50px;
    height: 40px;
    font-size: 22px;
    background-color: black;
    color: #ffb20c;
    border: 3px solid #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .userInteractionsButtons button:hover {
    background-color: #ffb20c;
    color: black;
    border: 3px solid black;
  }

  .userInteractionsButtons button.active {
    background-color: #ffb20c;
    color: red;
    border: 3px solid purple;
  }

  .noUserInteractionsButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .noUserOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .noUserInteractionsButtons button {
    width: 55px;
    height: 40px;
    font-size: 23px;
    background-color: grey;
    color: darkgrey;
    border: 3px solid darkgrey;
    cursor: not-allowed;
  }

  .noUserInteractionsButtons p {
    text-align: center;
    position: absolute;
    width: 90%;
    height: auto;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 3px solid #ffb20c;
    z-index: 2;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .userInteractionsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .Toastify {
    position: absolute;
  }

  .userInteractionsButtons button {
    width: 50px;
    height: 45px;
    font-size: 22px;
    background-color: black;
    color: #ffb20c;
    border: 3px solid #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .userInteractionsButtons button:active {
    background-color: #ffb20c;
    color: black;
    border: 3px solid black;
  }

  .userInteractionsButtons button.active {
    background-color: #ffb20c;
    color: red;
    border: 3px solid purple;
  }

   .noUserInteractionsButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .noUserOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .noUserInteractionsButtons button {
    width: 55px;
    height: 40px;
    font-size: 23px;
    background-color: grey;
    color: darkgrey;
    border: 3px solid darkgrey;
    cursor: not-allowed;
  }

  .noUserInteractionsButtons p {
    text-align: center;
    position: absolute;
    width: 90%;
    height: auto;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 3px solid #ffb20c;
    z-index: 2;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .userInteractionsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    gap: 9px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .Toastify {
    position: absolute;
  }

  .userInteractionsButtons button {
    width: 45px;
    height: 40px;
    font-size: 20px;
    background-color: black;
    color: #ffb20c;
    border: 3px solid #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .userInteractionsButtons button:active {
    background-color: #ffb20c;
    color: black;
    border: 3px solid black;
  }

  .userInteractionsButtons button.active {
    background-color: #ffb20c;
    color: red;
    border: 3px solid purple;
  }

  .noUserInteractionsButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .noUserOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .noUserInteractionsButtons button {
    width: 55px;
    height: 40px;
    font-size: 23px;
    background-color: grey;
    color: darkgrey;
    border: 3px solid darkgrey;
    cursor: not-allowed;
  }

  .noUserInteractionsButtons p {
    text-align: center;
    position: absolute;
    width: 90%;
    height: auto;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 3px solid #ffb20c;
    z-index: 2;
  }
}
