/* VERSION PC */
@media screen and (min-width: 1440px) {
  .castingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid #ffb20c;
  }

  .realisationSection,
  .actingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .realisationSection h3,
  .actingSection h3 {
    width: 40%;
    height: auto;
    font-size: 30px;
    padding: 5px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .realisationSection p,
  .actingSection p {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 30px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationList,
  .actingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationCard a,
  .actingCard a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
    gap: 10px;
    width: 17rem;
    height: 100%;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .realisationCard a:hover,
  .actingCard a:hover {
    color: #ffb20c;
  }

  .realisationCard h4,
  .actingCard h4 {
    width: 100% !important;
    height: auto;
    text-align: center;
    font-size: 23px !important;
    padding: 5px !important;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .realisationCard p,
  .actingCard p {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    font-size: 20px;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 0;
  }

  .realisationCard p::-webkit-scrollbar,
  .actingCard p::-webkit-scrollbar {
    width: 10px;
  }

  .realisationCard p::-webkit-scrollbar-thumb,
  .actingCard p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 10px;
  }

  .realisationCard p::-webkit-scrollbar-track,
  .actingCard p::-webkit-scrollbar-track {
    background-color: black;
  }

  .realisationCard img,
  .actingCard img {
    width: 100%;
    height: 24rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder,
  .actingPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24rem;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder svg,
  .actingPictureHolder svg {
    font-size: 50px;
    color: #ffb20c;
  }

  .realisationPictureHolder p,
  .actingPictureHolder p {
    border: none;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .castingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid #ffb20c;
  }

  .realisationSection,
  .actingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .realisationSection h3,
  .actingSection h3 {
    width: 40%;
    height: auto;
    font-size: 25px;
    padding: 5px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .realisationSection p,
  .actingSection p {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 25px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationList,
  .actingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationCard a,
  .actingCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    white-space: normal;
    gap: 10px;
    width: 14rem;
    height: 100%;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .realisationCard a:hover,
  .actingCard a:hover {
    color: #ffb20c;
  }

  .realisationCard h4,
  .actingCard h4 {
    width: 100% !important;
    height: auto;
    text-align: center;
    font-size: 21px !important;
    padding: 5px !important;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .realisationCard p,
  .actingCard p {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    font-size: 17px;
    margin: 0;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 0;
  }

  .realisationCard p::-webkit-scrollbar,
  .actingCard p::-webkit-scrollbar {
    width: 10px;
  }

  .realisationCard p::-webkit-scrollbar-thumb,
  .actingCard p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 10px;
  }

  .realisationCard p::-webkit-scrollbar-track,
  .actingCard p::-webkit-scrollbar-track {
    background-color: black;
  }

  .realisationCard img,
  .actingCard img {
    width: 100%;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder,
  .actingPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder svg,
  .actingPictureHolder svg {
    font-size: 50px;
    color: #ffb20c;
  }

  .realisationPictureHolder p,
  .actingPictureHolder p {
    border: none;
    height: auto;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .castingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid #ffb20c;
  }

  .realisationSection,
  .actingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .realisationSection h3,
  .actingSection h3 {
    width: 100%;
    height: auto;
    font-size: 24px;
    padding: 10px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .realisationSection p,
  .actingSection p {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 22px;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationList,
  .actingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationCard a,
  .actingCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    white-space: normal;
    gap: 10px;
    width: 11rem;
    height: 100%;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .realisationCard a:hover,
  .actingCard a:hover {
    color: #ffb20c;
  }

  .realisationCard h4,
  .actingCard h4 {
    width: 100% !important;
    height: auto;
    text-align: center;
    font-size: 18px !important;
    padding: 5px !important;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .realisationCard p,
  .actingCard p {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    font-size: 18px;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 0;
  }

  .realisationCard p::-webkit-scrollbar,
  .actingCard p::-webkit-scrollbar {
    width: 10px;
  }

  .realisationCard p::-webkit-scrollbar-thumb,
  .actingCard p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 10px;
  }

  .realisationCard p::-webkit-scrollbar-track,
  .actingCard p::-webkit-scrollbar-track {
    background-color: black;
  }

  .realisationCard img,
  .actingCard img {
    width: 100%;
    height: 16rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder,
  .actingPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder svg,
  .actingPictureHolder svg {
    font-size: 40px;
    color: #ffb20c;
  }

  .realisationPictureHolder p,
  .actingPictureHolder p {
    border: none;
    height: auto;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .castingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid #ffb20c;
  }

  .realisationSection,
  .actingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .realisationSection h3,
  .actingSection h3 {
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    color: #ffb20c;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .realisationSection p,
  .actingSection p {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 20px;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationList,
  .actingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .realisationCard a,
  .actingCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    white-space: normal;
    gap: 10px;
    width: 10rem;
    height: 100%;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .realisationCard a:hover,
  .actingCard a:hover {
    color: #ffb20c;
  }

  .realisationCard h4,
  .actingCard h4 {
    width: 100% !important;
    height: auto;
    text-align: center;
    font-size: 18px !important;
    padding: 5px !important;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .realisationCard p,
  .actingCard p {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    font-size: 16px;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 0;
  }

  .realisationCard p::-webkit-scrollbar,
  .actingCard p::-webkit-scrollbar {
    width: 8px;
  }

  .realisationCard p::-webkit-scrollbar-thumb,
  .actingCard p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 10px;
  }

  .realisationCard p::-webkit-scrollbar-track,
  .actingCard p::-webkit-scrollbar-track {
    background-color: black;
  }

  .realisationCard img,
  .actingCard img {
    width: 100%;
    height: 14rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder,
  .actingPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .realisationPictureHolder svg,
  .actingPictureHolder svg {
    font-size: 40px;
    color: #ffb20c;
  }

  .realisationPictureHolder p,
  .actingPictureHolder p {
    border: none;
    height: auto;
  }
}
