/* VERSION PC */
@media screen and (min-width: 1440px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40rem;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .onePersonalityHeaderLeft {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    gap: 10px;
  }

  .userInteractions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPicture img {
    width: 100%;
    height: 30rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder svg {
    font-size: 50px;
  }

  .onePersonalityPictureHolder p {
    font-size: 20px;
    text-align: center;
  }

  .onePersonalityHeaderRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    height: 100%;
  }

  .onePersonalityHeaderRight h2 {
    width: 50%;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
    background-color: black;
    border: 4px solid orange;
  }

  .onePersonalityBiography {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    gap: 10px;
  }

  .onePersonalityBiography p {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-family: "Patrick Hand SC", cursive;
    line-height: normal;
    font-size: 22px;
    text-align: justify;
    overflow-y: auto;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography h4 {
    width: 50%;
    height: auto;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography p {
    font-size: 30px;
  }

  .onePersonalityReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews h4 {
    width: 50%;
    height: auto;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews p {
    font-size: 30px;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35rem;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .onePersonalityHeaderLeft {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    gap: 10px;
  }

  .userInteractions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPicture img {
    width: 100%;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder svg {
    font-size: 50px;
  }

  .onePersonalityPictureHolder p {
    font-size: 20px;
    text-align: center;
  }

  .onePersonalityHeaderRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
  }

  .onePersonalityHeaderRight h2 {
    width: 50%;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    padding: 0 10px;
    font-size: 17px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    gap: 10px;
  }

  .onePersonalityBiography p {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-family: "Patrick Hand SC", cursive;
    line-height: normal;
    font-size: 20px;
    text-align: justify;
    overflow-y: scroll;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography p::-webkit-scrollbar {
    width: 8px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 4px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-track {
    background-color: black;
  }

  .onePersonalityFilmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography p {
    font-size: 20px;
  }

  .onePersonalityReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews p {
    font-size: 20px;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .onePersonalityHeaderLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .userInteractions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPicture img {
    width: 17rem;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 17rem;
    height: 25rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder svg {
    font-size: 50px;
  }

  .onePersonalityPictureHolder p {
    font-size: 17px;
    text-align: center;
  }

  .onePersonalityHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 20px;
  }

  .onePersonalityHeaderRight h2 {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    gap: 10px;
  }

  .onePersonalityBiography p {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-family: "Patrick Hand SC", cursive;
    line-height: normal;
    font-size: 24px;
    text-align: justify;
    overflow-y: auto;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography p::-webkit-scrollbar {
    width: 8px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 4px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-track {
    background-color: black;
  }

  .onePersonalityFilmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography p {
    font-size: 20px;
  }

  .onePersonalityReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews p {
    font-size: 20px;
  }
}

/* VERSION PHONE */
@media screen and (max-width: 767px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .onePersonalityHeaderLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .userInteractions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPicture img {
    width: 14rem;
    height: 21rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 14rem;
    height: 21rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityPictureHolder svg {
    font-size: 40px;
  }

  .onePersonalityPictureHolder p {
    font-size: 16px;
    text-align: center;
  }

  .onePersonalityHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 20px;
  }

  .onePersonalityHeaderRight h2 {
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    gap: 10px;
  }

  .onePersonalityBiography p {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-family: "Patrick Hand SC", cursive;
    line-height: normal;
    font-size: 19px;
    text-align: justify;
    overflow-y: auto;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBiography p::-webkit-scrollbar {
    width: 8px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 4px;
  }

  .onePersonalityBiography p::-webkit-scrollbar-track {
    background-color: black;
  }

  .onePersonalityFilmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityFilmography p {
    font-size: 20px;
  }

  .onePersonalityReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews h4 {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .onePersonalityReviews p {
    font-size: 20px;
  }
}
