/* VERSION PC */
@media screen and (min-width: 1440px) {
  .authentificationPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }

  .authPageContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .authPageContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 20px;
    color: #ffb20c;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .authPageContentLeft h2 {
    font-size: 45px;
    text-align: center;
  }

  .authPageContentLeft h3 {
    font-size: 30px;
    text-align: center;
  }

  .authPageContentLeft img {
    width: 250px;
    height: auto;
    vertical-align: middle;
  }

  .authPageContentLeft ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
    text-align: left;
    gap: 10px;
  }

  .authPageContentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
    border-left: 4px solid #ffb20c;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .authentificationPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }

  .authPageContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .authPageContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 20px;
    color: #ffb20c;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .authPageContentLeft h2 {
    font-size: 35px;
    text-align: center;
  }

  .authPageContentLeft h3 {
    font-size: 25px;
    text-align: center;
  }

  .authPageContentLeft img {
    width: 200px;
    height: auto;
    vertical-align: middle;
  }

  .authPageContentLeft ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
    gap: 10px;
  }

  .authPageContentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
    border-left: 4px solid #ffb20c;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .authentificationPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }

  .authPageContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
    border-top: none;
    border-bottom: none;
  }

  .authPageContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50%;
    padding: 10px;
    gap: 20px;
    color: #ffb20c;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .authPageContentLeft h2 {
    font-size: 23px;
    text-align: center;
  }

  .authPageContentLeft h3 {
    font-size: 18px;
    text-align: center;
  }

  .authPageContentLeft img {
    width: 150px;
    height: auto;
    vertical-align: middle;
  }

  .authPageContentLeft ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
    gap: 10px;
  }

  .authPageContentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: white;
    border-top: 4px solid #ffb20c;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .authentificationPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }

  .authPageContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
    border-top: none;
    border-bottom: none;
  }

  .authPageContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 50%;
    padding: 10px;
    color: #ffb20c;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .authPageContentLeft h2 {
    font-size: 18px;
    text-align: center;
  }

  .authPageContentLeft h3 {
    font-size: 14px;
    text-align: center;
  }

  .authPageContentLeft img {
    width: 35%;
    height: auto;
    vertical-align: middle;
  }

  .authPageContentLeft ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-align: left;
    gap: 5px;
  }

  .authPageContentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 10px;
    background-color: white;
    border-top: 4px solid #ffb20c;
  }
}
