/* VERSION PC */
@media screen and (min-width: 1440px) {
  .validationAuthPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .validationAuthPageLeft {
    display: flex;
    width: 50%;
    height: 100%;
  }

  .validationAuthPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .validationAuthPageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: black;
    border-left: 4px solid #ffb20c;
  }

  .validationAuthPageRight h2 {
    font-size: 40px;
  }

  .validationAuthPageRight h3 {
    font-size: 25px;
  }

  .validationAuthContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 15%;
    font-size: 25px;
    text-align: center;
    gap: 10px;
    padding: 10px;
    margin: auto 0;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .validationAuthContainer button {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .validationAuthContainer button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .validationAuthPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .validationAuthPageLeft {
    display: flex;
    width: 50%;
    height: 100%;
  }

  .validationAuthPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .validationAuthPageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: black;
    border-left: 4px solid #ffb20c;
  }

  .validationAuthPageRight h2 {
    font-size: 40px;
  }

  .validationAuthPageRight h3 {
    font-size: 25px;
  }

  .validationAuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 20%;
    font-size: 22px;
    text-align: center;
    gap: 10px;
    padding: 10px;
    margin: auto 0;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .validationAuthContainer button {
    width: 80%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .validationAuthContainer button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .validationAuthPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .validationAuthPageLeft {
    display: flex;
    width: auto;
    height: 50%;
  }

  .validationAuthPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .validationAuthPageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 50%;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: black;
    border-top: 4px solid #ffb20c;
  }

  .validationAuthPageRight h2 {
    font-size: 35px;
  }

  .validationAuthPageRight h3 {
    font-size: 25px;
  }

  .validationAuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    font-size: 25px;
    text-align: center;
    gap: 5px;
    padding: 10px;
    margin: auto 0;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .validationAuthContainer button {
    width: 80%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .validationAuthContainer button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .validationAuthPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .validationAuthPageLeft {
    display: flex;
    width: auto;
    height: 50%;
  }

  .validationAuthPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .validationAuthPageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 50%;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: black;
    border-top: 4px solid #ffb20c;
  }

  .validationAuthPageRight h2 {
    font-size: 35px;
  }

  .validationAuthPageRight h3 {
    font-size: 20px;
  }

  .validationAuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    font-size: 22px;
    text-align: center;
    gap: 5px;
    padding: 10px;
    margin: auto 0;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .validationAuthContainer button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .validationAuthContainer button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
