/* VERSION PC */
@media screen and (min-width: 1440px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordLeft {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url("../../../assets/ForgotPassword.png");
    background-size: cover;
    background-position: center;
    border-right: 4px solid #ffb20c;
  }

  .resetPasswordRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    color: #ffb20c;
    background-color: black;
  }

  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 20px;
    padding: 10px;
    background-color: black;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm input {
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordBtnSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .resetPasswordBtnSection button {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordAdvices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .resetPasswordAdvices ul {
    margin: 0;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordLeft {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url("../../../assets/ForgotPassword.png");
    background-size: cover;
    background-position: center;
    border-right: 4px solid #ffb20c;
  }

  .resetPasswordRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    color: #ffb20c;
    background-color: black;
  }

  .resetPasswordRight h2 {
    font-size: 25px;
  }

  .resetPasswordRight h3 {
    font-size: 18px;
  }

  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 5px;
    padding: 5px;
    background-color: black;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm input {
    height: 35px;
    font-size: 18px;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordBtnSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .resetPasswordBtnSection button {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 15px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordAdvices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    font-size: 13px;
    text-align: left;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .resetPasswordAdvices ul {
    margin: 0;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
       .resetPasswordPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordLeft {
    display: flex;
    width: auto;
    height: 50%;
    background-image: url("../../../assets/ForgotPassword.png");
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid #ffb20c;
  }

  .resetPasswordRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 50%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    color: #ffb20c;
    background-color: black;
  }

  .resetPasswordRight h2 {
    font-size: 23px;
  }

  .resetPasswordRight h3 {
    font-size: 18px;
  }

  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    background-color: black;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm input {
    height: 25px;
    font-size: 18px;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordBtnSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .resetPasswordBtnSection button {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 18px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordAdvices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: left;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .resetPasswordAdvices h4 {
    font-size: 22px;
  }

  .resetPasswordAdvices ul {
    margin: 0;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
     .resetPasswordPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordLeft {
    display: flex;
    width: auto;
    height: 40%;
    background-image: url("../../../assets/ForgotPassword.png");
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid #ffb20c;
  }

  .resetPasswordRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 60%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    color: #ffb20c;
    background-color: black;
  }

  .resetPasswordRight h2 {
    font-size: 20px;
  }

  .resetPasswordRight h3 {
    font-size: 15px;
  }

  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    background-color: black;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .resetPasswordForm input {
    height: 25px;
    font-size: 15px;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordBtnSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .resetPasswordBtnSection button {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 13px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .resetPasswordAdvices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
    padding: 5px;
    font-size: 13px;
    text-align: left;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .resetPasswordAdvices h4 {
    font-size: 20px;
  }

  .resetPasswordAdvices ul {
    margin: 0;
  }
}
