/* VERSION PC */
@media screen and (min-width: 1440px) {
  .filmographyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  .p_moviesSection,
  .p_seriesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection h3,
  .p_seriesSection h3 {
    width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection p,
  .p_seriesSection p {
    width: 50%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesList,
  .p_seriesList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  .p_movieCard a,
  .p_serieCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    height: 100%;
    gap: 10px;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 15px;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover,
  .p_serieCard a:hover {
    background-color: #ffb20c;
    color: black;
  }

  .p_movieCard h4,
  .p_serieCard h4 {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(18px, 20px, 28px);
    word-break: break-word;
    text-wrap: normal;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover h4,
  .p_serieCard a:hover h4 {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .p_moviePoster,
  .p_seriePoster {
    width: 100%;
    height: 20rem;
  }

  .p_moviePoster img,
  .p_seriePoster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .p_moviePosterHolder,
  .p_seriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .p_moviePosterHolder svg,
  .p_seriePosterHolder svg {
    font-size: 35px;
  }

  .p_movieCard a:hover .p_moviePosterHolder,
  .p_serieCard a:hover .p_seriePosterHolder {
    border: 4px solid black;
    background-color: #ffb20c;
  }

  .p_moviePosterHolder p,
  .p_seriePosterHolder p {
    width: 100%;
    height: auto !important;
    font-size: clamp(15px, 20px, 25px);
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: none !important;
  }

  .p_movieCard a:hover .p_moviePosterHolder p,
  .p_serieCard a:hover .p_seriePosterHolder p {
    color: black;
    border: none !important;
    background-color: #ffb20c;
  }

  .p_movieCard p,
  .p_serieCard p {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(15px, 20px, 25px) !important ;
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover p,
  .p_serieCard a:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .filmographyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  .p_moviesSection,
  .p_seriesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection h3,
  .p_seriesSection h3 {
    width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection p,
  .p_seriesSection p {
    width: 50%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesList,
  .p_seriesList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  .p_movieCard a,
  .p_serieCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    height: 100%;
    gap: 10px;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 15px;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover,
  .p_serieCard a:hover {
    background-color: #ffb20c;
    color: black;
  }

  .p_movieCard h4,
  .p_serieCard h4 {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(18px, 20px, 28px);
    word-break: break-word;
    text-wrap: normal;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover h4,
  .p_serieCard a:hover h4 {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .p_moviePoster,
  .p_seriePoster {
    width: 100%;
    height: 20rem;
  }

  .p_moviePoster img,
  .p_seriePoster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .p_moviePosterHolder,
  .p_seriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .p_moviePosterHolder svg,
  .p_seriePosterHolder svg {
    font-size: 35px;
  }

  .p_movieCard a:hover .p_moviePosterHolder,
  .p_serieCard a:hover .p_seriePosterHolder {
    border: 4px solid black;
    background-color: #ffb20c;
  }

  .p_moviePosterHolder p,
  .p_seriePosterHolder p {
    width: 100%;
    height: auto !important;
    font-size: clamp(15px, 20px, 25px);
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: none !important;
  }

  .p_movieCard a:hover .p_moviePosterHolder p,
  .p_serieCard a:hover .p_seriePosterHolder p {
    color: black;
    border: none !important;
    background-color: #ffb20c;
  }

  .p_movieCard p,
  .p_serieCard p {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(15px, 20px, 25px) !important ;
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover p,
  .p_serieCard a:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
        .filmographyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  .p_moviesSection,
  .p_seriesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection h3,
  .p_seriesSection h3 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection p,
  .p_seriesSection p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesList,
  .p_seriesList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  .p_movieCard a,
  .p_serieCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    height: 100%;
    gap: 10px;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 15px;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover,
  .p_serieCard a:hover {
    background-color: #ffb20c;
    color: black;
  }

  .p_movieCard h4,
  .p_serieCard h4 {
    width: 100% !important;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(18px, 20px, 28px);
    word-break: break-word;
    text-wrap: normal;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover h4,
  .p_serieCard a:hover h4 {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .p_moviePoster,
  .p_seriePoster {
    width: 100%;
    height: 20rem;
  }

  .p_moviePoster img,
  .p_seriePoster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .p_moviePosterHolder,
  .p_seriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .p_moviePosterHolder svg,
  .p_seriePosterHolder svg {
    font-size: 35px;
  }

  .p_movieCard a:hover .p_moviePosterHolder,
  .p_serieCard a:hover .p_seriePosterHolder {
    border: 4px solid black;
    background-color: #ffb20c;
  }

  .p_moviePosterHolder p,
  .p_seriePosterHolder p {
    width: 100%;
    height: auto !important;
    font-size: clamp(15px, 20px, 25px);
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: none !important;
  }

  .p_movieCard a:hover .p_moviePosterHolder p,
  .p_serieCard a:hover .p_seriePosterHolder p {
    color: black;
    border: none !important;
    background-color: #ffb20c;
  }

  .p_movieCard p,
  .p_serieCard p {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(15px, 20px, 25px) !important ;
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover p,
  .p_serieCard a:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
      .filmographyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  .p_moviesSection,
  .p_seriesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection h3,
  .p_seriesSection h3 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesSection p,
  .p_seriesSection p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .p_moviesList,
  .p_seriesList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  .p_movieCard a,
  .p_serieCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    height: 100%;
    gap: 10px;
    padding: 10px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    border-radius: 15px;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover,
  .p_serieCard a:hover {
    background-color: #ffb20c;
    color: black;
  }

  .p_movieCard h4,
  .p_serieCard h4 {
    width: 100% !important;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(18px, 20px, 28px);
    word-break: break-word;
    text-wrap: normal;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover h4,
  .p_serieCard a:hover h4 {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .p_moviePoster,
  .p_seriePoster {
    width: 100%;
    height: 20rem;
  }

  .p_moviePoster img,
  .p_seriePoster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .p_moviePosterHolder,
  .p_seriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .p_moviePosterHolder svg,
  .p_seriePosterHolder svg {
    font-size: 35px;
  }

  .p_movieCard a:hover .p_moviePosterHolder,
  .p_serieCard a:hover .p_seriePosterHolder {
    border: 4px solid black;
    background-color: #ffb20c;
  }

  .p_moviePosterHolder p,
  .p_seriePosterHolder p {
    width: 100%;
    height: auto !important;
    font-size: clamp(15px, 20px, 25px);
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: none !important;
  }

  .p_movieCard a:hover .p_moviePosterHolder p,
  .p_serieCard a:hover .p_seriePosterHolder p {
    color: black;
    border: none !important;
    background-color: #ffb20c;
  }

  .p_movieCard p,
  .p_serieCard p {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    font-size: clamp(15px, 20px, 25px) !important ;
    word-break: break-word;
    text-wrap: balance;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .p_movieCard a:hover p,
  .p_serieCard a:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
