/* VERSION PC */
@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding: 10px 0;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .header img {
    height: 100px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header li {
    font-size: 25px;
    color: #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .header li:hover {
    color: purple;
  }

  .header input {
    width: 30vw;
    height: 50px;
    padding: 5px;
    background-color: white;
    font-size: 15px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
  }

  .header button {
    width: 10vw;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: #ffb20c;
    font-size: 20px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .header button:hover {
    background-color: #ffb20c;
    color: black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding: 10px 0;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .header img {
    height: 90px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header li {
    font-size: 20px;
    color: #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .header li:hover {
    color: purple;
  }

  .header input {
    width: 25vw;
    height: 40px;
    padding: 5px;
    background-color: white;
    font-size: 15px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
  }

  .header button {
    width: 12vw;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: #ffb20c;
    font-size: 18px;
    border: 4px solid #ffb20c;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .header button:hover {
    background-color: #ffb20c;
    color: black;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: none;
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
    .header {
        display: none;
    }
}
