/* VERSION PC */
@media screen and (min-width: 1440px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seasonCard h3 {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 17rem;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .seasonPosterPlaceHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 17rem;
    height: 25rem;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonPosterPlaceHolder svg {
    font-size: 70px;
  }

  .seasonPosterPlaceHolder p {
    text-align: center !important;
    font-size: 20px !important;
    border: none !important;
  }

  .seasonCard p {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seasonCard h3 {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 13rem;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

   .seasonPosterPlaceHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 13rem;
    height: 20rem;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonPosterPlaceHolder svg {
    font-size: 50px;
  }

  .seasonPosterPlaceHolder p {
    text-align: center !important;
    font-size: 18px !important;
    border: none !important;
  }

  .seasonCard p {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center;
    overflow-x: auto;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    overflow-x: auto; /* Ensure horizontal scroll works */
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seasonCard h3 {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 12rem;
    height: 17rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

   .seasonPosterPlaceHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 12rem !important;
    height: 17rem !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonPosterPlaceHolder svg {
    font-size: 50px;
  }

  .seasonPosterPlaceHolder p {
    text-align: center !important;
    font-size: 16px !important;
    border: none !important;
  }

  .seasonCard p {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }
}

/* VERSION PHONE */
@media screen and (max-width: 767px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow-x: auto;
    text-align: center;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    overflow-x: auto; /* Ensure horizontal scroll works */
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seasonCard h3 {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 11rem;
    height: 16rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

   .seasonPosterPlaceHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 11rem !important;
    height: 16rem !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonPosterPlaceHolder svg {
    font-size: 30px;
  }

  .seasonPosterPlaceHolder p {
    text-align: center !important;
    font-size: 15px !important;
    border: none !important;
  }

  .seasonCard p {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }
}
